<div>
  <table>
    <tr>
      <td width="40%">
        <div class="new-url">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" [(ngModel)]="newUrl" 
                  name="newUrl pull-left" 
                  class="form-control"
                  placeholder="http://"
                />
                <div class="input-group-addon btn btn-primary" (click)="getNewFeed()">
                    <span class="glyphicon glyphicon-search">
                    </span>
                </div>  
              </div>
            </div>
          </form>
        </div>
        <div class="existing-urls">
          <ul class="list-group">
            <li *ngFor="let url of feedUrls; let i = index" class="list-group-item">
              <span>{{url}}</span>
              <span (click)="remove(i)" class="pull-right glyphicon glyphicon-remove btn btn-danger"></span>
            </li>
          </ul>
        </div>
      </td>
      <td rowspan="2" width="60%">
        <app-chanel [items]="items"></app-chanel>
      </td>
    </tr>
  </table> 
</div>